html, body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
}

.left-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
}

.left-panel-select {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    max-width: 800px;
    overflow: auto;
}

.center-panel {
    display: flex;
    flex-direction: column;
    background: #000000;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
}

.tab-panel {
    display: flex;
    flex-direction: row;
    background: black;
}

.scale-panel {
    flex-direction: row;
    text-align: center;
    color: white;
}

/* plots */

.plots-title {
    color: white;
}

.plots-main-panel {
    width: 100%;
    height: 100%;
}

.plots-main-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
}

.plots-main-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    white-space: nowrap;
}

.plots-headers {
    display: flex;
    flex-direction: row;
    background: white;
}

.plots-headers div {
    background: white;
    display: block;
}

.plots-panel {
    overflow-y: auto;
}

/* controls */

.menu-item-title {
    padding: 5px 0px;
}

.bordered-panel {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.row-panel {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.left-panel-button {
    display: block;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: #333333;
    border-radius: 5px;
    width: 100%;
}

.left-panel-button:hover {
    background-color: #ff0000;
}

.left-panel-button:active {
    background-color: #ff2222;
}

.left-panel-button:disabled {
    background-color: #aaaaaa;
}

.left-panel-button-sm {
    display: block;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 4px;
    margin-top: 4px;
    background-color: #333333;
    border-radius: 5px;
    width: 100%;
}

.left-panel-button-sm:hover {
    background-color: #ff0000;
}

.left-panel-button-sm:active {
    background-color: #ff2222;
}

.left-panel-button-sm:disabled {
    background-color: #aaaaaa;
}

.tab-button {
    display: block;
    font-size: 16px;
    margin: 2px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 4px;
    background-color: #333333;
    border-radius: 5px 5px 0px 0px;
    min-width: 100px;
}

.tab-button:hover {
    background-color: #ff0000;
}

.tab-button:active {
    background-color: #ff2222;
}

.tab-button:disabled {
    background-color: #aaaaaa;
}

.divDataValues {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 200px;
    max-height: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

/* controls */

.select-label {
    width: 60px;
}

.select-axis {
    width: 200px;
}