html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

.main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
}

.center-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
}

.tab-panel {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    background: black
}

.plots-panel {
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    height: 100%;
    overflow: auto;
}

.row {
    display: flex;
    flex-direction: row;
}